* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
}
.container {
  margin: 0 auto;
  max-width: 1600px;
}
button {
  cursor: pointer;
}
.lighter-text {
  color: gray;
}

header {
  height: 90svh;
  display: flex;
  flex-direction: column;
}
nav {
  padding: 20px 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: cadetblue; */
}
nav > div > ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  color: #00000099;
  font-weight: 700;
}
nav li {
  cursor: pointer;
}
.main-btn {
  background-color: #0059ff;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
}
.secondary-btn {
  background-color: transparent;
  color: #0059ff;
  padding: 10px 30px;
  border: 1px solid #0059ff;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
}

.banner {
  flex: 1;
  background: url("./assets/banner.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  color: whitesmoke;
  text-align: center;
}
#overlay {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(to right, #000000ee, #ffffff00);
}
#overlay > div > h2,
#overlay > div > h2 > i {
  font-size: 80px;
}
#overlay > div > p {
  font-size: 30px;
}
#overlay > div > button {
  scale: 1.8;
}

.section-heading {
  margin: 80px 0;
  text-align: center;
}
.section-heading > h3 {
  font-size: 60px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.card {
  width: 600px;
  margin: auto;
  border: 3px solid lightgray;
  background: #f7fbff;
  box-shadow: 2px 2px 8px 1px #e0e0e0;
  border-radius: 18px;
  text-align: center;
}
.card img {
  width: 550px;
  height: 350px;
  margin-top: 10px;
  object-fit: cover;
  object-position: center;
  /* margin: 20px; */
  border-radius: 20px;
  object-fit: cover;
}
.card-info {
  text-align: left;
  /* margin-left: 20px; */
  padding: 20px 0 26px 40px;
}
.category {
  font-weight: 700;
  color: blue;
}
.name {
  font-size: 22px;
}

.p-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.price {
  font-size: 60px;
}
.p-card {
  width: 70%;
  margin: 0 auto;
  border: 2px solid lightgray;
  border-radius: 18px;
  padding: 40px;
}
.p-card hr {
  border: none;
  height: 3px;
  width: 95%;
  margin: 20px auto;
  background-color: lightgray;
  border-radius: 3px;
}
.p-card ul {
  padding-left: 20px;
  padding-bottom: 20px;
}
.p-card ul li {
  font-size: 16px;
  margin-bottom: 8px;
}
.p-card ul li::marker {
  color: #00a2ff;
}
.p-card button {
  width: 100%;
}
.p-category {
  font-weight: 800;
}
.special-p-card {
  scale: 1.15;
  background: #0d1829;
  color: white;
  transition: 0.3s;
}
.special-p-card:hover {
  scale: 1.2;
}
.special-p-card .p-category {
  color: #00a2ff;
}
#pricing {
  padding-bottom: 100px;
}

footer {
  color: white;
  background: #0d1829;
  padding: 30px;
}
footer > div hr {
  border: none;
  height: 2px;
  width: 80%;
  margin: 30px auto;
  background-color: gray;
  border-radius: 5px;
}
footer > div > p {
  text-align: center;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}
.footer-links {
  display: flex;
  gap: 22px;
  text-align: center;
}
.footer-links img {
  width: 32px;
  height: 32px;
}
.footer-links > div> * {
  cursor: pointer;
}